@import "tailwindcss";

@theme {
  --color-warm-cream: #FBF9F6;
  --color-beige: #F2EBE3;
  --color-terracotta: #C87C68;
  --color-earthy-text: #3A332B;
  --color-muted-text: #5C544B;
  
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-public-sans);
}

body {
  background-color: var(--color-warm-cream);
  color: var(--color-earthy-text);
}
